<TABLE class=master style="FONT-FAMILY: arial, helvetica, sans-serif; WIDTH: 1250px; COLOR: #444444; MARGIN: auto; LINE-HEIGHT: 1.2" cellSpacing=0 cellPadding=0 width=100 align=center border=0>
    <TBODY>

            <tr>
                <th style="padding: 20px 0px 20px 30px; text-align: center; background-color: rgb(142, 177, 182);" bgcolor="8EB1B6" width="1650" height="50">
                    <span style="color: rgb(255, 255, 255); font-size: 30px;">Reporte Refacturaciones Corporativos</span>
                </th>
            </tr>
    <TR bgColor=#f2f2f2>
    <TH style="PADDING-BOTTOM: 15px; PADDING-TOP: 15px; PADDING-LEFT: 15px; PADDING-RIGHT: 15px"></TH>
    </TR>
    <TR bgColor=#f2f2f2>
                <th
                    align="justify"
                    style="
                        text-align: justify;
                        font-size: 16px;
                        font-family: Arial, Helvetica, sans-serif;
                        color: #000000;
                        font-weight: 500;
                        padding: 0 30px;"
                    class=""
                >
                Estimados,  
                Se comparte el detalle de las  Refacturaciones corporativos Aplicadas.<b></b> <br /><br />
                </th>
            </tr>
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

 <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Top 5 Clientes por cada Segmento Corporativo</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>

<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 120px;"><strong><font color="#FFFFFF">Segmento Corp</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 50px;"><strong><font color="#FFFFFF">Origen</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">RUC</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 400px;"><strong><font color="#FFFFFF">Razón Social</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 250px;"><strong><font color="#FFFFFF">Ejecutivo</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Segmento</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Cantidad</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">Monto Soles</font></strong></td>

</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>

<th bgcolor="#f2f2f2"> 
<table class="radius" style="border-radius:0 0 px 10px; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data5.iterrows() %}
    <tr><td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 120px;">{{row["TIPO_CORP"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 50px;">{{row["ORIGEN"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["RUC"]}}</td>
        <td style="text-align:left;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 400px;">{{row["RAZON_SOCIAL"]}}</td>
        <td style="text-align:left;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 250px;">{{row["EJECUTIVO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["SEGMENTO"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["NRO_NC"]}}</td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row["TOTAL"]}}</td>



        </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
        
 <!-------------------------------------------------------------------TABLA NUMERO1 --------------------------------------------------------------------------------->            

 <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Refacturaciones Por Segmento Corporativo</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>

<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Segmento Corp</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var12}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var11}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var10}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var9}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var8}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var7}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var6}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var5}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var4}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var3}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var2}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var1}}</font></strong></td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var0}}</font></strong></td>

</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>

<th bgcolor="#f2f2f2"> 
<table class="radius" style="border-radius:0 0 px 10px; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data.iterrows() %}
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["TIPO_CORP"]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var12]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var11]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var10]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var9]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var8]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var7]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var6]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var5]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var4]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var3]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var2]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var1]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var0]}}</td>
    </tr>
{% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>

  <!-------------------------------------------------------------------TABLA NUMERO2 --------------------------------------------------------------------------------->            
        
     
  <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Refacturaciones por Segmento Comercial</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>

<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Segmento Comer.</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var12}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var11}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var10}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var9}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var8}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var7}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var6}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var5}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var4}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var3}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var2}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var1}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var0}}</font></strong></td>
</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
{% for index , row in data2.iterrows() %}
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["SEGMENTO"]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var12]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var11]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var10]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var9]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var8]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var7]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var6]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var5]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var4]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var3]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var2]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var1]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var0]}}</td>
    </tr>
{% endfor %}
</tbody></table></th></tr></tbody></table></th></tr>
<th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>

  <!-------------------------------------------------------------------TABLA NUMERO3 --------------------------------------------------------------------------------->            

<tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Refacturaciones por Región</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Región</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var12}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var11}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var10}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var9}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var8}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var7}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var6}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var5}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var4}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var3}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var2}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var1}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var0}}</font></strong></td>
</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data3.iterrows() %}
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["REGION"]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var12]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var11]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var10]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var9]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var8]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var7]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var6]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var5]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var4]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var3]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var2]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var1]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var0]}}</td>
    </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
  <!------------------------------------------------------------------------------------------------------------------------------------------------------>            
  <!-------------------------------------------------------------------TABLA NUMERO3 --------------------------------------------------------------------------------->            

  <tr>
    <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th>
</tr>
<tr bgcolor="#f2f2f2">
    <th class="" style="text-align: justify; font-size: 16px; font-family: Arial, Helvetica, sans-serif; color: #000000;
    font-weight: 1500; padding: 0 30px;" align="justify"><strong>Refacturaciones por Departamento</br></strong>
    </th>
</tr>
<tr> <th style="height: 10px; padding: 5px;" bgcolor="#f2f2f2"></th> </tr>
<tr>
<th bgcolor="#f2f2f2">
<table class="radius" style="border-radius:10px 10px 0 0; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#5B7980">
<tbody>
    <tr> <th style="width: 120px;" width="120"> <table  border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody> <tr>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 100px;"><strong><font color="#FFFFFF">Departamento</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var12}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var11}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var10}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var9}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var8}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var7}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var6}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var5}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var4}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var3}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var2}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var1}}</font></strong></td>
        <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; border-bottom: solid 2px #000; padding: 9px 0; font-size: 12px; width: 80px;"><strong><font color="#FFFFFF">{{var0}}</font></strong></td>
</tr>
</tbody>
</table>
</th>
</tr> </tbody> </table> </th> </tr> <tr>
<th bgcolor="#f2f2f2"> <table class="radius" style="border-radius:0 0 10px 10px; margin: 0 32px;" border="0" width="1200" cellspacing="0" cellpadding="0" bgcolor="#ffffff">
<tbody> <tr> <th style="width: 120px;" width="120"> <table border="0" width="100%" cellspacing="0" cellpadding="0"> <tbody>
    {% for index , row in data4.iterrows() %}
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 100px;">{{row["DEPARTAMENTO"]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var12]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var11]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var10]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var9]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var8]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var7]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var6]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var5]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var4]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var3]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var2]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var1]}}</td>
    <td style="text-align:center;font-family: Arial, Helvetica, sans-serif; padding: 9px 0; font-size: 12px; width: 80px;">{{row[var0]}}</td>
    </tr>
    {% endfor %}
    </tbody></table></th></tr></tbody></table></th></tr>
    <th style="padding: 10px;" bgcolor="#f2f2f2">&nbsp;</th>
  <!------------------------------------------------------------------------------------------------------------------------------------------------------>            

<TR bgColor=#f2f2f2>
<TH style="FONT-SIZE: 16px; FONT-FAMILY: Arial, Helvetica, sans-serif; FONT-WEIGHT: 1250; COLOR: #000000; PADDING-BOTTOM: 0px; TEXT-ALIGN: justify; PADDING-TOP: 0px; PADDING-LEFT: 30px; PADDING-RIGHT: 30px">
</TH>
    </TR>
            <TR>
                <TH style="PADDING-BOTTOM: 10px; PADDING-TOP: 10px; PADDING-LEFT: 10px; PADDING-RIGHT: 10px" bgColor=#f2f2f2>
                </TH>
           </TR>
               
    <TR>
                    <TH bgColor=#f2f2f2>
                    <TABLE style="BACKGROUND: #ffffff; PADDING-TOP: 0px" cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH align=center>
                    <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                    <TBODY>
                    <TR>
                    <TH style="FONT-SIZE: 13px; FONT-FAMILY: arial, helvetica, sans-serif; FONT-WEIGHT: 500; COLOR: #ffffff; PADDING-BOTTOM: 5px; PADDING-TOP: 5px" bgColor=#abafb0 align=center>Cualquier cosulta, quedo atento </TH></TR>
                    <TR>
                    <TH style="FONT-FAMILY: Arial,Helvetica,sans-serif; BACKGROUND: white; PADDING-BOTTOM: 15px; TEXT-ALIGN: justify; PADDING-TOP: 5px"></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE></TH></TR></TBODY></TABLE>
                   